.tituloOrganizar {
    margin-top: 5%;
    font-size: 260%;
    font-weight: bold;
    color: #FFF;
}

.titulo2-organizar {
    font-size: 260%;
    font-weight: 900;
    color: #FFF;
}

.titulo3-organizar {
    font-size: 150%;
    color: #110f0f;
}

.p-organizar {
    color: #FFF;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    color: #5F3040FF;
}

.color-secundario {
    color: #FF3C04FF;
    font-size: 20px;
    font-weight: 700;

}

.btn-orange {
    color: white;
    background-color: #FF3C04FF;
}

.img-padding {
    margin: 20px;
}

.img-fluid {
    margin-left: 10%;
}

.img-comentario {
    margin-top: 10%;
}

.separar {
    margin-left: 20%;
    margin-bottom: 20%;
}

.separarArribaAbajo {
    margin-bottom: 2%;
}

.titulo-comentario {

    padding-bottom: 10%;
    font-size: 20px;
    color: #5F3040FF;
    float: right;

}

.parrafo-comentario {
    padding-left: 5%;
    padding-top: 5%;
    font-size: 20px;
    color: #5F3040FF;

}

.title-person {
    padding-top: 4%;
    font-size: 20px;
    font-weight: 900;
}

.background-pastel {
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #D5CACEFF;
}

.background-img {
    background-image: url("../../images/foto3@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundTwo {
    background-image: url("../../images/foto2@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.borderRadius {
    border-radius: 10px;
}

.bajar {
    margin-bottom: 30%;
}

.btn-redondear {
    border-radius: 100%;
    border-color: white;
    font-weight: 900;
    font-size: 20px;
    color: white;
    background-color: transparent;
    padding-top: 5px;
}

.links-mapa {
    color: #5F3040FF;
}

.links-mapa:hover {
    color: #FF3C04FF;
    text-decoration: none;
}